Hide   Expand    Copy Code
<html>
<body>
    <p style="color:red;">{{ .message }}</p>
     <br>
	<form tag="Create Logon" action="login" method="post">
		<div align="center">

			Email *: <input type="email" name="emailid" id="emailid"/>
 			<br>
			Password* <input type="password" name="password" id="password" />


		<input type="submit" value="Submit" />
		</div>
	</form>


<p>Note: Please make sure your details are correct before submitting form and that all fields marked with * are completed!.</p>


</body>
</html>